.tweet-box {
  width: calc(100% - 58px) ;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 58px;
  line-height: 1.28578em;
  word-break: break-word;
  word-wrap: break-word;
}

.tweet-user-avatar {
  margin-left: -58px;
  width: 48px;
  height: 48px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 3px;
  float: left;
}

.tweet-user-meta {
  display: inline-block;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  text-decoration: none;
  cursor: pointer;
}

.tweet-user-name {
  font-size: 16px;
  font-weight: 600;
  color: darken(gray, 10%);
}

.tweet-user-handle {
  font-size: 14px;
  color: gray;
  &::before {
    content: ' @';
    padding-left: 2px;
  }
}
